.mainDiv {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
  }
.modalUser {
  z-index: 999;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3vh;
    width: 28vw;
    height: 50vh;
    border-radius: 0.5rem;
    position: relative;
}

.divClose {
  position: absolute;
  top: 2px;
  right: 10px;
  cursor: pointer;
}

.titulo{
  position: absolute;
  top: 5px;

}

.formularios{
 margin-top: 80px;
  width: 100%;
  height: 100%;
  display: flex;
  gap: 15px;
  flex-direction: column;
  align-items: center;
}


.formularios input {

  width: 60%;
  height: 5vh;
  border-radius: 10px;
  background-color: #e7e6e6;
  outline: none;
  border: 1px solid rgb(158, 158, 158);
  transition: 450ms;
}

.formularios input:hover {
  cursor: pointer;
  background-color: #ffffff;
}

.select{
    
  width: 60%;
  height: 5vh;
  border-radius: 10px;
  background-color: #e7e6e6;
  outline: none;
  border: 1px solid rgb(158, 158, 158);
  transition: 450ms;
}

.buttonContainer {
  margin-top: 25px;
  display: flex;
  justify-content: center;
}
